.detailing-works__swiper {
	padding-top: 60px !important;
	padding-bottom: 60px !important;
}
.detailing-works img {
	width: 400px;
}
.detailing-works > .al_row {
	margin-right: 40px;
}
.detailing-works .al_row .al_column {
	position: relative;
}
.detailing-works .al_row > .al_column {
	margin-right: 20px;
}
.detailing-works .al_row .al_column span {
	color: #94989D;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding-top: 30px;
}
.detailing-works .al_row .al_column h6 {
	color: #030303;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.navbar-burger span {
	background-color: #000 !important;
}